---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Clon la velada IV">
  <main>
    <h1 class="text-white animate-blurred-fade-in">La velada IV</h1>
  </main>
</Layout>

<style></style>
