---
import Intro from '@/components/Predictions/Intro.astro';
import Vote from '@/components/Predictions/Vote.astro';
import Layout from '@/layouts/Layout.astro';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);
console.log(session);
---

<Layout title='This is where you can add predictions to the combats'>
  <main class='flex flex-col items-center justify-center text-white'>
    {session === null ? <Intro /> : <Vote />}
  </main>
</Layout>

<script>
  const { signIn, signOut } = await import('auth-astro/client');

  const $login = document.querySelector('#login');
  if ($login) $login.onclick = () => signIn('google');
  const $logout = document.querySelector('#logout');
  if ($logout) $logout.onclick = () => signOut();
</script>
