<footer
  class="w-full border-primary border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-10 pb-20 gap-y-10"
>
  <span class="text-primary text-center"
    >La velada del año <span aria-hidden class="hidden md:inline">|</span><br
      aria-hidden
      class="block md:hidden"
    /> Todos los derechos reservados</span
  >

  <ul class="flex flex-row gap-x-6 items-center">
    <li>
      <a
        href="#"
        target="_blank"
        rel="noopener"
        class="hover:scale-125 hover:opacity-70 transition inline-block"
      >
        <img class="w-10 h-10" src="./favicon.svg" alt="Logo de instagram" />
      </a>
    </li>
    <li>
      <a
        href="#"
        target="_blank"
        rel="noopener"
        class="hover:scale-125 hover:opacity-70 transition inline-block"
      >
        <img class="w-10 h-10" src="./favicon.svg" alt="Logo de twitter" />
      </a>
    </li>
  </ul>
</footer>
