<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
  <div class="flex justify-center items-center">
    <a
      href="https://twitch.tv/ibai"
      target="_blank"
      rel="nofollow noopener"
      class="hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-primary"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z"
        ></path>
      </svg>
    </a>
  </div>

  <div class="flex flex-col md:flex-row uppercase text-center gap-x-4">
    <article
      class="md:order-none order-2 flex justify-center items-center text-xl py-10 md:py-20 px-10 border-y-2 border-primary"
    >
      <h5 class="w-56 text-center">
        Presentación, pesaje, entrevista y cara a cara
      </h5>
    </article>
    <article
      class="md:order-none order-1 flex justify-center items-center text-4xl py-10 md:py-20 px-10 border-t-2 md:border-y-2 border-primary"
    >
      <h4>
        <a
          class="hover:text-purple-800 transition hover:scale-110 inline-block"
          href="https://twitch.tv/ibai"
          target="_blank"
          rel="nofollow noopener">Síguelo en directo twitch.tv/ibai</a
        >
      </h4>
    </article>
    <article
      class="md:order-none order-3 flex justify-center items-center text-xl py-10 md:py-20 px-10 border-b-2 md:border-y-2 border-primary"
    >
      <h5>Con la presentación de boxeadores y boxeadoras</h5>
    </article>
  </div>
</section>

<style>
  svg {
    view-timeline-name: --twitch;
    view-timeline-axis: block;

    animation-timeline: --twitch;
    animation-name: show;
  }

  @keyframes show {
    to {
      color: blueviolet;
    }
  }
</style>
