---
import LiteYouTuve from "@/components/LiteYouTuve.astro";
---

<section class="my-40 px-2 md:my-60">
  <h3 class="text-center text-white text-3xl">Presentación</h3>
  <p class="mx-auto mt-4 max-w-[250px] text-wrap text-center text-neutral-300">
    Vuelve a ver la presentación desde el Teatro Victoria
  </p>

  <div class="relative mt-8">
    <img
      aria-hidden="true"
      src="/img/drawn-x-logo.webp"
      alt="Logo X dibujado a mano"
      class="absolute inset-0 -z-10 m-auto"
    />
    <LiteYouTuve
      videoId="ct0Hr6zYZGU"
      backgroundImage="/img/video-presentation-cover.webp"
    />
  </div>
</section>
