---
// Supports weights 100-900
import "@fontsource-variable/jost";
import Noise from "@/components/Noise.astro";
import SmokeBackground from "@/components/SmokeBackground.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="" />
    <!-- canonical: webpage where it should navigate originally -->
    <title>{title}</title>

    <script is:inline>
      window.getThemePreference = () => {
        const localItem =
          typeof localStorage !== "undefined" && localStorage.getItem("theme");
        if (localItem) return localItem;
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };

      const isDark = window.getThemePreference() === "dark";
      document.documentElement.classList.toggle("dark", isDark);
    </script>
  </head>
  <body>
    <Noise />
    <!-- <SmokeBackground /> -->
    <div class="max-w-6xl px-10 pt-40 mx-auto">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #333;
    --color-secondary: #ddd;
    --color-twitch: #9146ff;
    --color-twitch-ice: #f0f0ff;

    --background-color: #101010;
    --background-twitch: #000;
  }

  @font-face {
    font-family: Stronger;
    src: url("/fonts/Stronger.ttf") format("truetype");
  }

  .dark {
    --color-primary: #ddd;
    --color-secondary: #333;

    --background-color: #333;
    --background-twitch: var(--color-twitch-ice);
  }

  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    background: var(--background-color);
  }
</style>
